@model IEnumerable<VacationCalendar.BusinessLogic.Models.Employee>;


<div class="container">
    <h6>Menu administratora</h6>
    <hr />
    <input type="button" class="btn btn-success" value="Dodaj pracownika" onclick="location.href='@Url.Action("Register", "Account")'" />
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.Role.Name)</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.Role.Name</td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.Id })">Edit</a> |
                        <a href="@Url.Action("Delete", new { id = item.Id })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
