@model IEnumerable<VacationCalendar.BusinessLogic.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}

<h4>Employees</h4>

<a asp-action="Index" class="btn btn-success">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Manager)*@
                Manager
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.FirstName)
                @Html.DisplayFor(modelItem => item.Manager.LastName)
            </td>
            <td>
                    <a asp-action="#" class="btn btn-sm btn-outline-warning" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="#" class="btn btn-sm btn-outline-secondary" asp-route-id="@item.Id">Details</a>
                    <a asp-action="#" class="btn btn-sm btn-outline-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
