@using VacationCalendar.BusinessLogic.Models;
@model IEnumerable<VacationRequest>;

<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Employee.Email)</th>
                <th>@Html.DisplayNameFor(model => model.From)</th>
                <th>@Html.DisplayNameFor(model => model.To)</th>
                <th>@Html.DisplayNameFor(model => model.RequestStatus.RequestStatusName)</th>
                <th>Usuń</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Employee.Email</td>
                    <td>@item.From</td>
                    <td>@item.To</td>
                    <td>@item.RequestStatus.RequestStatusName</td>
                    <td>
                        <a asp-action="ConfirmDelete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
