@model IEnumerable<VacationCalendar.BusinessLogic.Models.Employee>;

<div class="container">
    <h4>Lista pracowników</h4>
    <hr />
    @if (TempData["DeleteConfirmed"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["DeleteConfirmed"]
        </div>
    }
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>
    }
    <input type="button" class="btn btn-success" value="Dodaj pracownika" onclick="location.href='@Url.Action("Register", "Account")'" />
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.VacationDays)</th>
                <th>@Html.DisplayNameFor(model => model.Role.Name)</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.VacationDays</td>
                    <td>@item.Role.Name</td>
                    <td>              
                        <form method="post">
                            <a class="btn btn-sm btn-warning" href="@Url.Action("EditEmployee", new { id = item.Id })">Edit</a>
                            <a id="deleteItem" class="btn btn-sm btn-danger deleteItem" data-bs-target="#ConfirmDeleteModal" data-bs-toggle="modal"
                               data-path="@Url.Action("DeleteEmployee", "Admin", new {item.Id})">Usuń</a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<!--Delete Modal -->
<div class="modal fade" id="ConfirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Usuwanie pracownika.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz usunąć pracownika?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                <button id="btnContinueDelete" class="btn btn-danger">Usuń</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        var pathToDelete;
        $(".deleteItem").click(function (e) {
            pathToDelete = $(this).data('path');
        })
        $("#btnContinueDelete").click(function () {
            window.location = pathToDelete;
        })
    </script>
}